
/*En-tête*/
header
	{	
		position: fixed;
		width: 100%;
		margin: auto;	
		padding-bottom: 10px;	
		background-color : cornsilk;
		/*background-image: url(image/fond.jpg);*/	
		

	}

/*Corps du texte*/
body 
	{
		/*background-image: url(image/fond.png);
		background-attachment: fixed;*/
		
	}

/*Position des drapeaux*/
.langue1
	{

		position: absolute;
		right: 30px;
		top: 20px;
	}

.langue2
	{
		position: absolute;
		right: 30px;
		top: 55px;
	} 
/* Liens par défaut (non survolés) */
a
{
   text-decoration: none;
   color: black;
   /*color: rgb(30,125,232);*/
}

/* Apparence au survol des liens */
a:hover 
{
   color: rgb(139,1,67);
}

.logo
	{

	}

/*Slogan*/
.HomeCheck
	{
		font-family: "Lucida Bright" ;
		font-size : 60px;
		position: absolute;
		top: 15%;
		left: 12%;

	}

.YourHouse
	{
		font-family: "Lucida Bright";
		font-size : 27px;
		font-style : italic;
		margin-left: 25%;
	}


/*Image de bienvenue*/
.bienvenue
	{
		text-align: center;
		width: 90%;
		margin-top: 0%;
	}
.bienvenue:hover, .bienvenue:focus
	{
		transition: padding .3s, background .3s;
		background-color: rgb(252,150,150);
	}

/*Pour tous les textes*/
.texte
	{
		text-align: center;
		font-family: black, lucida;
	}

/*Cadre pour menu*/
/*.boite
	{
   		display: block;
   		float: left;
   		text-align: center;
   		padding: 8px ;
   		margin: auto;
   		box-shadow: 0px 3px 3px black;
        border: 1px solid #526968;
        border-radius: 10px;
   		width: 19%;
   }*/

/*Bordure de gauche de à propos*/
/*.propos
	{
		margin-left: 5px;
	}*/

.propos
	{
		display: block;
		float: left;
		border: 1px solid black;
		border-radius: 10px;
		margin-left: 5px;
		padding: 8px ;
   		margin: auto;
   		box-shadow: 0px 3px 3px black;
        border: 1px solid #526968;
     	width: 19%;
     	min-width: 5%;
     	text-align: center;
     	margin-bottom: 10px;
	}


.propos:hover, .propos:focus
{
	padding: 10px 10px 10px 10px;
	transition: padding .3s, background .3s;
	background-color: rgb(252,150,150);

}

.rechercher	
	{
		position: absolute;
		right: 1%;
		bottom: 12%;
	}

.rechercher1
	{
		position: :absolute;
		right : 10px;

	}
	
/*Déconnexion*/
.deconnexion
	{
		position: absolute;
		right: 80px;
		top: 40px;
	}

/*Pied de page*/
footer
	{
		color : black;
		text-align: center;
		font-style: italic;
		background-color: rgb(150,150,150);
	}

.contact
	{
		text-align: center;
		font-size : 50px;

	}


/*________Modifier mon profil_______*/
/*Cadre pour la modification des informations*/
/*.modif
	{
		
		position: absolute;
		left: 25%;
		font-family : georgia,serif;

	}
*/
table
	{	
		margin-left: 50%;
		margin-bottom: 2%;
		font-family: "Lucida Bright";
	}

td
	{
    	background-color: rgb(242,242,242);
	}

.modif_photo
	{
		position: absolute;	
		bottom: 25%;
		right: 60%;	
	}

.enregistrer
	{
		position: absolute;
		left: 45%;

	}
