*
{
	font-family: "Lucida Bright";
	color: black;
}



/*En-tête*/
header
	{	
		position: fixed;
		width: 100%;
		margin: -8px;	
		padding-bottom: 10px;	
		background : cornsilk;
		padding-left: 5px;
		z-index:1000;


	}


/*Corps du texte*/
body 
	{
		/*background-image: url(image/fond.png);
		background-attachment: fixed;*/
	}

/*Position des drapeaux*/
.langue1
	{

		position: absolute;
		right: 30px;
		top: 20px;
	}

.langue2
	{
		position: absolute;
		right: 30px;
		top: 55px;
	} 
/* Liens par défaut (non survolés) */
a
{
   text-decoration: none;
   color: black;
}

/* Apparence au survol des liens */
a:hover 
{
   color:firebrick;
}

/*Slogan*/
.HomeCheck
	{
		
	font-size:60px;
	text-align: left;
	margin-bottom: 5px;
	padding-bottom: 2px;
	margin-top : -100px;
	margin-left: 200px;

	}

.YourHouse
	{
		font-size: 27px;
		font-style: italic;
	text-align:left;
	margin-left: 340px;
	}


/*Image de bienvenue*/
.bienvenue
	{
		
		width: 100%;
		margin-top: 0px;
		margin-left : -7px;
	}

/*Pour tous les textes*/
.texte
	{
		text-align: center;
		font-family: black, lucida;
	}

/*Cadre pour menu*/
.boite
	{
   		
   		text-align: center;
   		
   		}



/*Bordure de gauche de à propos*/
.propos
	{
		display: block;
		float: left;
		border: 1px solid black;
		border-radius: 10px;
		margin-left: 5px;
		padding: 8px ;
   		margin: auto;
   		box-shadow: 0px 3px 3px black;
        border: 1px solid #526968;
     	width: 19%;
     	text-align: center;
     	margin-bottom: 10px;
	}

.propos:hover, .propos:focus
{
	
	transition: padding .3s, background .3s;
	background-color: burlywood;

}


.rechercher	
	{
		position: absolute;
		right: 3%;
		bottom: 10%;
	}
.bouton{
	position: absolute;
	right : -25px;
	top: 4px;

}

.rechercher1
	{
		position: :absolute;
		right : 10px;

	}
	
.barre{

	text-align: center;
	color : white;
	border : 1px solid black;
	background: black ; 
	position: fixed;
	right :110px ;
	top : 40px;
	width: 13%;
	height: 20px;
}
/*Déconnexion*/
.deconnexion
	{
		position: absolute;
		right: 80px;
		top: 40px;
	}

.imageAdmin{

	overflow:hidden;
	position: absolute; ;
	top : 29px;
    right : 23% ;
     
    border-radius:60px;    /* arrondi bordure */    
     width: 40px;
    height:40px;
}
/*Pied de page*/
footer
	{   position: fixed;
		bottom: 0;
		left: 50%;
		color : black;
		text-align: center;
		font-style: italic;
		background-color: rgb(150,150,150);
	}

.contact
	{
		text-align: center;
		font-size : 50px;

	}

.logo2{

	margin-left: 30px;
	margin-top: 30px;
}



/* CSS pour le contenu de la page */

.plan_automatisation
 {    
       position: fixed;
       top:225px;
       position: relative;
        left: 100px;
        margin : 50px;
   width: 300px;
        float: left;
      
    }
 .automatisation
 {
 	border: 2px solid;
 	text-align: center;
 	 }

 .plan img{
width: 100%;
    height: auto;
 }
 .info
    {    
         position: fixed;
       top:200px;
       position: relative;
        left: 140px;
        margin :10px;
   width: 900px;
        float: left;
      
    } 
    .text{ 


    	text-align: center;
    }
    .bloc {
    	position: relative;
  width: 900px;
    height: 400px;
    	border: 3px  solid black;
   
    }
    .bloc1 {
    	position: absolute;
    	top: 20px;
    	left: 60px;
    	
    }
    footer { 
    position: fixed;
    bottom: 0; }

    .text_piece
    {
    	
       position: absolute;
       top:20px;
       right:60px;
    }

.ajouter{
	position: absolute;
      bottom: 10px; 
       
      left: 40px; 
       width: 140px;
       height: 100px;
       border: 2px solid black; 
       padding: 10px; 
       padding-bottom: 0px;  
         
}
.supprimer{
	position: absolute;
      bottom: 5px; 
       
      right:  10px; 
       
         
}
.ajouter img{
	position: absolute;
      margin-top: 5px; 
       
      left: 40px; 
}
    .capteur{
    	 position: absolute;
       top: 150px;
           left: 40px; 
       width: 140px;
       height: 100px;
       border: 2px solid black; 
       padding: 10px; 
       padding-bottom: 0px;  
    }

/* animation bouton */
.switch {
  position: absolute;
top: 20px;
left: 95px;
float:left;
  display: inline-block;
  width: 57px;
  height: 30px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 4px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left:  2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}