/*En-tête*/
header
	{	
		position: fixed;
		border: 3px black solid;
		width: 98%;
		margin: auto;	
		padding-bottom: 10px;
		margin-bottom: 10px;	
		background-color: white;

	}

/*Corps du texte*/
body 
	{
		background-image: url(image/fond.png);
		background-attachment: fixed;
	}

/*Position des drapeaux*/
.langue1
	{

		position: absolute;
		right: 30px;
		top: 20px;
	}

.langue2
	{
		position: absolute;
		right: 30px;
		top: 55px;
	} 
/* Liens par défaut (non survolés) */
a
{
   text-decoration: none;
   color: rgb(30,125,232);
}

/* Apparence au survol des liens */
a:hover 
{
   color: rgb(139,1,67);
}

/* Quand le visiteur clique sur le lien */
a:active
{
    background-color: #FFCC66;
}

/*Cadre pour menu*/
.boite
	{
   display: block;
   float: left;
   text-align: center;
   padding: 2px ;
   margin: auto;
   box-shadow: 0px 6px 6px black;
   /*border: 1px solid #526968;*/
   width: 19%;
   }

.rechercher	
	{
		position: absolute;
		right: 10px;
	}

.rechercher1
	{
		position: :absolute;
		right : 10px;
	}
	
/*Déconnexion*/
.deconnexion
	{
		position: absolute;
		right: 80px;
		top: 40px;
	}

/*Pied de page*/
footer
	{
		color : black;
		text-align: center;
		font-style: italic;
		background-color: white;
	}

/*Cadre pour la modification des informations*/
.modif
	{
		
		position: absolute;
		left: 25%;
		font-family : georgia,serif;
		background-color: rgb(242,242,242);
	}

table
	{
		padding-left: 50%;
	}

td
	{
    	border: 1px black solid;
    	background-color: rgb(242,242,242);
	}

.profil
	{
		position: absolute;
		padding-left: 15%;
		padding-top: 65%;
	}

.enregistrer
	{
		position: absolute;
		right: 0;
		left: 67%;

	}

/*Pied de page*/
footer
	{
		color : black;
		text-align: center;
		font-style: italic;
		margin-top: 20px;
		background-color: white;
		bottom: 0%;

	}