
/*En-tête*/
header
	{
		border: 3px black solid;
		width: auto;
		margin: auto;
		padding-bottom: 10px;
		background-color: white;
	}

/*Position des drapeaux*/
.langue1
	{

		position: absolute;
		right: 30px;
		top: 20px;
	}

.langue2
	{
		position: absolute;
		right: 30px;
		top: 55px;
	} 

.identifiant
	{
		position: absolute;
		right : 75px;
		top : 95px;
	}

/*Titre important*/
h1
	{
		text-align : center;
		font-family : georgia,serif;
		color : rgb(24,81,186);
		font-size: xx-large;

	}

/*Image de bienvenue*/
.bienvenue
	{
		margin: auto;
		width: 100%;
		border: 3px rgb(232,232,232) solid;
		background-color: rgb(79,196,230);
		
	}

/*Pour tous les textes*/
.texte
	{
		text-align: center;
		font-family: black, lucida;
		font-size: large;
	}



/*Grande section du texte
section
	{
		background-color: white ; 
		border-radius: : 200px/100px;
		padding : 12px ;
		margin-left : 50px;
		margin-right: 50px;
		margin-bottom: 50px;
		margin-top: 50px;
	}
*/
body 
	{
		background-image: url(image/fond.png);
		background-attachment: fixed;
	}

/*Contactez-nous*/
h2
	{
		text-align : center;
		font-family : georgia,serif;
		color : rgb(24,81,186);
		margin-top: 250px;

	}

/*Faire un changement de couleur
.texte2
	{

	}
*/	
/*Cadre pour messages, mails*/
.box
	{	
		margin: auto;
		border: 3px navy ridge;
		position : center;

		padding : 12px;
		padding-bottom: 50px;
		width: 1000px;
		background-color: rgb(242,242,242);


	}

/*Tableau des coordonnées*/
table
{
    border-collapse: collapse;
    margin: auto;

}
td
{
    border: 3px navy ridge;
    background-color: rgb(242,242,242);
}


/*Image flottante*/
.flottant
	{
		float : left;
	}
/*Placer l'image des coordonnées*/
.coord
	{
		position: center;
	}

/*Bouton envoyer*/
.envoyer
	{
		margin-left: 45%;
	}
=
/*Pied de page*/
footer
	{
		color : black;
		text-align: center;
		font-style: italic;
		margin-top: 20px;
		background-color: white;

	}
	